/* styles.css */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav ul {
    list-style-type: none;
    background-color: #333;
    padding: 10px;
    text-align: center;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.vote-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    color: white;
    cursor: pointer;
}
#results {
    display: flex;
    justify-content: space-around;
}
.bar {
    width: 50px;
    margin: 10px;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}